body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-confirmation {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-confirmation .form-confirmation-heading {
  margin-bottom: 10px;
}

.form-confirmation .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-confirmation .form-control:focus {
  z-index: 2;
}